name: test

on:
  push:
  pull_request:

jobs:
  go-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.22', 'stable']
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Test
        run: go test -v -race -cover -tags=integration ./...
